
  <div class="header title_bar">
    <div class="ns_header">
      <img alt="Accenture Logo" src="assets/accenture_logo.png" class="align-middle imageWidth"></div>
      <div class="title">GenAI IAM Assistant</div>
      <div class="ns_header mr-r-75">
        <button pbutton="" pripple="" type="button" icon="pi" class="p-element p-button-rounded account_icon-1 p-button p-component ng-star-inserted">
          <span class="p-button-icon pi" aria-hidden="true"></span> WS </button>
      </div></div>