<div class="flex flex-row mb-4">
  <div class="col-1 border-circle w-2rem h-2rem m-2 pt-3 flex align-items-center justify-content-center">
    <!-- <i class="pi pi-prime" style="color: #708090"></i> -->
    <img src="https://app-5292-eus2-prejoiner-prod-web.azurewebsites.net/images/Company_Greaterthan_logo.png" 
    style="height: 30px;" alt="icon">
  </div>
  <div class="col-10 bg-white relative responseBox" >
    <div class="col-1 absolute flex align-items-center justify-content-center"
    style="width: 50px; left: 300px;">
      <mat-icon class="mat-icon notranslate google-symbols mat-icon-no-color" style="font-size: large;">volume_up</mat-icon>
    </div>
    <span class="pb-2 pr-5 msg">{{prompt.message}}</span>
  </div>
</div>


