<div class="flex flex-row mb-4">
  <div class="col-1 border-circle w-2rem h-2rem mx-2 flex align-items-center justify-content-center" 
    style="background-color: #DBE1D7;">
    <span style="font-size: small;">WS</span>
  </div>
  <div class=" chatBox ">
    
    <span class=" msg" style="padding-top: 5px;">{{prompt.message}}</span>
    <div class="col-1  flex justify-content-center"
    style="width: 42px; left: 300px;padding: 0px;">
      <mat-icon class="mat-icon notranslate google-symbols mat-icon-no-color" style="font-size: large;">edit</mat-icon>
    </div>
  </div>
</div>
