  <div class="side-bar collapse">
    <!-- <div class="logo-name-wrapper">
      <div class="logo-name">
        <span class="logo-name__name">Helix GenAI</span>
      </div>
      <button class="logo-name__button">
        <i
          class="pi pi-arrow-right logo-name__icon"
          id="logo-name__icon"
        ></i>
      </button>
      <i class='bx bx-arrow-from-left'></i>
    </div> -->

    <ul class="features-list">
      <li class="features-item inbox active">
        <i class="pi pi-inbox features-item-icon inbox-icon"
          ><span class="status"></span
        ></i>
        <span class="features-item-text">Chat</span>
        <span class="tooltip">Chat</span>
      </li>

      <li class="features-item draft">
        <i class="pi pi-history features-item-icon"></i>
        <span class="features-item-text">Chat History</span>
        <span class="tooltip">Chat History</span>
      </li>
      <p-toast></p-toast>
      <li class="features-item draft">
        <i class="pi pi-comments features-item-icon" (click)="showDialog()"></i>
        <span class="features-item-text">Knowledge Assistant</span>
        <span class="tooltip">Knowledge Assistant</span>
      </li>
    </ul>
  </div>
  <!-- <div class="container"><div style="margin:30px auto"><div id="carbon-block"></div> -->