.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #DAE0E2;
  color: white;
  padding: 10px;
  text-align: center;
  height: 50px;
  margin-left: -10px;
}

input {
  padding: 5px;
  margin-right: 10px;
  width: 50%;
  height: 50%;
}

button {
  padding: 5px 10px;
  height: 30px;
}
